# TradingView webhook security key. Must match the "key" in TradingView alerts.
SEC_KEY=

# Telegram Settings
SEND_TELEGRAM_ALERTS=false
TG_TOKEN=
CHANNEL=

# Discord Settings
SEND_DISCORD_ALERTS=false
DISCORD_WEBHOOK=

# Slack Settings
SEND_SLACK_ALERTS=false
SLACK_WEBHOOK=

# Twitter Settings
SEND_TWITTER_ALERTS=false
TW_CKEY=
TW_CSECRET=
TW_ATOKEN=
TW_ASECRET=

# Email Settings
SEND_EMAIL_ALERTS=false
EMAIL_SENDER=
EMAIL_RECEIVERS=
EMAIL_SUBJECT=Trade Alert!
EMAIL_PORT=465
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
